extends layout.jade

block head
  link(rel='stylesheet', href='/assets/css/logo.min.css')

block body

  .jumbotron
    .container
      h1: include logo.jade
      p= __('slogan')

  .container
    .row
      .col-sm-7.col-sm-push-5.col-md-8.col-md-push-4
        include columns/news.jade
      .col-sm-5.col-sm-pull-7.col-md-4.col-md-pull-8
        include columns/projs.jade
        include columns/links.jade